@import "tailwindcss";

:root {
  --background: #FBFBF9;
  --foreground: #1C293C;
  --primary: #FDC800;
  --secondary: #432DD7;
  --success: #16A34A;
  --warning: #D97706;
  --danger: #DC2626;
  background-color: var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  background-image: radial-gradient(var(--foreground) 1px, transparent 1px);
  background-size: 24px 24px;
}

.neobrutal-box {
  background-color: #fff;
  border: 4px solid var(--foreground);
  box-shadow: 8px 8px 0px 0px var(--foreground);
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}

.neobrutal-box-inner {
  background-color: #FBFBF9;
  border: 4px solid var(--foreground);
  box-shadow: 4px 4px 0px 0px var(--foreground);
}

.neobrutal-button {
  background-color: var(--primary);
  color: var(--foreground);
  border: 4px solid var(--foreground);
  box-shadow: 6px 6px 0px 0px var(--foreground);
  font-weight: 900;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 0;
}

.neobrutal-button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px 0px var(--foreground);
}

.neobrutal-button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px 0px var(--foreground);
}

.neobrutal-button-secondary {
  background-color: var(--secondary);
  color: #fff;
  border: 4px solid var(--foreground);
  box-shadow: 6px 6px 0px 0px var(--foreground);
  font-weight: 900;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 0;
}

.neobrutal-button-secondary:hover {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px 0px var(--foreground);
}

.neobrutal-button-secondary:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px 0px var(--foreground);
}

.neobrutal-input {
  border: 4px solid var(--foreground);
  box-shadow: 4px 4px 0px 0px var(--foreground);
  padding: 12px 16px;
  font-weight: 700;
  background: #fff;
  font-size: 1.125rem;
  outline: none;
  transition: all 0.1s ease-in-out;
  border-radius: 0;
}

.neobrutal-input:focus {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px 0px var(--foreground);
}